<div class="full-height">
    <img src="/assets/images/complete-profile.png" alt="background" class="background-img">
    <div class="main-div" fxLayout="column">
        <div class="logo-div" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayout.xs="column" fxLayoutAlign.xs="start center" fxLayoutGap="10px">
            <div fxLayout="row" fxLayoutGap="14px" fxLayoutAlign="start center">
                <img src="/assets/icons/logo-blue.png" alt="" height="35px" width="30px">
                <h4 class="title">EC-Lister for Ebay </h4>
            </div>
            <button class="access-code" [routerLink]="['../access-code']" routerLinkActive="router-link-active">Click here if you have an access code</button>
        </div>
        <div fxFlex fxLayout="column" class="content-div" fxLayoutAlign="center center" fxLayoutGap="50px">
            <div class="card" fxLayout="column">

                <h4 class="card-title">Profile setting</h4>

                <div class="form-div">
                    <form [formGroup]='formGroup' novalidate>
                        <div fxLayout="column" fxLayoutGap="20px">
                            <div fxLayout="column">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-input" placeholder="Enter You Name" formControlName='first_name'>
                            </div>
                            <div fxLayout="column">
                                <label class="form-label">Phone Number</label>
                                <input type="text" class="form-input" placeholder="Enter You Number" formControlName='phone_no'>
                            </div>
                            <div fxLayout="column">
                                <label class="form-label">Email</label>
                                <input type="text" class="form-input" placeholder="Enter You Email" formControlName='email'>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <button class="submit-button" (click)='formGroup.valid?onSubmit(formGroup.value):toastr.error("complete your profile")'>Start</button>
        </div>
    </div>
