<div fxLayout="column" fxLayoutGap='20px' >
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap='20px' fxLayoutGap.xs="5px" class="nav-div">
    <div class="selected-div" fxLayoutAlign="center center" routerLinkActive="settings-active-div">
      <h3 class="nav-title" [routerLink]="['latest-news']" routerLinkActive="settings-active" >Latest news</h3>
    </div>
      <div  class="selected-div" fxLayoutAlign="center center" routerLinkActive="settings-active-div">
        <h3 class="nav-title"  [routerLink]="['update-profile']" routerLinkActive="settings-active" >Update profile</h3>
      </div>
      <div class="selected-div" fxLayoutAlign="center center" routerLinkActive="settings-active-div">
        <h3 class="nav-title" [routerLink]="['faqs']" routerLinkActive="settings-active">FAQs</h3>
      </div>
    </div>
<router-outlet></router-outlet>
</div>


