.main-div {
  max-height: 80vh;
  padding-bottom: 10px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

 .main-div::-webkit-scrollbar {
  display: none;
}
.edit-heading {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: center;
  color: #3c3c3c;
}
.form-label {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: 0.36px;
  text-align: left;
  color: #3c3c3c;
  white-space: nowrap;
}
.form-label-div {
  width: 125px;
  padding-top: 20px;
}
.product-icons-div {
  width: 100%;
  padding: 15px 5px 10px 5px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
 .product-icons-div::-webkit-scrollbar {
  display: none;
}
.browse-button {
  width: 130px;
  height: 40px;
  padding-bottom: 5px;
  border-radius: 30px;
  border: solid 1px #0064d2;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: 0.6px;
  text-align: center;
  color: #0064d2;
  outline: none;
  cursor: pointer;
}
.form-input {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: 0.4px;
  text-align: left;
  color: #cbcbcb;
  border-radius: 5px;
  border: solid 1px #b7b7b7;
  background-color: #ffffff;
  width: 80%;
  margin-top: 13px;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
}
.form-textarea {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: 0.4px;
  text-align: left;
  color: #b7b7b7;
  border-radius: 5px;
  border: solid 1px #b7b7b7;
  background-color: #ffffff;
  width: 80%;
  margin-top: 13px;
  height: 220px;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
}
.save-button {
  width: 230px;
  height: 50px;
  border-radius: 30px;
  background-color: #0064d2;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: 0.6px;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0px 10px 4px 10px;
}
